.container
  .row
    .col-sm-10
      .page-header
        %h1 Run Schedule

      %p The table below shows the relative estimated timing of each run in the relay. Times on the left-hand-side are shown in UTC.

      - schedule = YAML.load_file('./schedule.yaml')

      .run-schedule
        .schedule-column.timeline
          - start_time = Time.utc(2017,7,14,21,0,0).to_datetime
          - end_time = Time.utc(2017,7,17,5,0,0).to_datetime
          - start_time.step(end_time, 1.to_f/24).each do |hour|
            .time
              %span.hours= hour.strftime("%I:%M%P")
              %span.date= hour.strftime("%B %d")

        - schedule.each do |team_name, runs|
          .team
            .name=team_name


            .schedule-column
              - runs.each do |run|
                - parsed_estimate = Time.parse(run["estimate"])
                - estimate_units = (parsed_estimate.hour * 60 + parsed_estimate.min) / 5
                .schedule-element{class: run["series"], style: "grid-row: span #{estimate_units}"}
                  %span.game-name= run["game"]
                  by
                  %span.runner-name= run["runner"]
                  %span.estimate= parsed_estimate.strftime("%H:%M:%S")

%footer
  .container
    .row
      .col-sm-10
        .pull-right
          %p &copy; 2017 fifteenfortyfive.org

        %ul
          %li
            %a(href="https://discord.gg/ZYfBpdk" target="_blank") Discord
          %li
            %a(href="https://twitch.tv/1545race" target="_blank") Twitch
          %li
            %a(href="https://twitter.com/1545race" target="_blank") Twitter
