.container
  .row
    .col-sm-10
      .page-header
        %h1 Results

      %p The first ever 1545 ran from 9pm UTC on July 14th, 2017 to 1:30am UTC on July 17th, 2017. 50 runners formed into 6 teams to complete a total of 78 runs in just over 300 hours of total gameplay.

      - schedule = YAML.load_file('./results.yaml')
      - ranked_teams = schedule.sort_by{ |t| t[1]["total_time"] }

      .rankings
        - ranked_teams.each_with_index do |(name, team), rank|
          .team
            %span.rank= (rank+1).to_s + (['st','nd','rd'][rank] || 'th')
            %span{class: "team-#{team["color"]}"}= name
            \-
            - hours = (team["total_time"] / 3600).to_i
            - minutes = (team["total_time"] / 60) % 60
            - seconds = team["total_time"] % 60
            %span.total-time= "%02d:%02d:%02d" % [hours, minutes, seconds]
            %span.runners= team["runs"].map{ |r| r["runner"] }.uniq.sort.join(', ')


      %p The table below shows the times for each run in the relay and when they occured. Times on the left-hand-side are shown in UTC.

      .run-schedule
        .schedule-column.timeline
          - start_time = Time.utc(2017,7,14,21,0,0).to_datetime
          - end_time = Time.utc(2017,7,17,2,0,0).to_datetime
          - start_time.step(end_time, 1.to_f/24).each do |hour|
            .time
              %span.hours= hour.strftime("%I:%M%P")
              %span.date= hour.strftime("%B %d")

        - schedule.each do |team_name, team|
          .team
            .name=team_name


            .schedule-column
              - team["runs"].each do |run|
                - parsed_estimate = Time.parse(run["time"])
                - estimate_units = (parsed_estimate.hour * 60 + parsed_estimate.min) / 5
                .schedule-element{class: run["series"], style: "grid-row: span #{estimate_units}"}
                  %span.game-name= run["game"]
                  by
                  %span.runner-name= run["runner"]
                  %span.estimate= parsed_estimate.strftime("%H:%M:%S")
              .schedule-element.total
                Total Time:
                - hours = (team["total_time"] / 3600).to_i
                - minutes = (team["total_time"] / 60) % 60
                - seconds = team["total_time"] % 60
                %span.total-time= "%02d:%02d:%02d" % [hours, minutes, seconds]

%footer
  .container
    .row
      .col-sm-10
        .pull-right
          %p &copy; 2017 fifteenfortyfive.org

        %ul
          %li
            %a(href="https://discord.gg/ZYfBpdk" target="_blank") Discord
          %li
            %a(href="https://twitch.tv/1545race" target="_blank") Twitch
          %li
            %a(href="https://twitter.com/1545race" target="_blank") Twitter
